page-play {
    .play-content {
        text-align: center;
        color: white;

        &.turn-condition {
            background-color: darkturquoise;
        }
        &.turn-for-or-against {
            background-color: crimson;
        }
        &.turn-game {
            background-color: darkorange;
        }
        &.turn-instead {
            background-color: crimson;
        }

        .scroll-content {
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;

            .label-container {
                padding: 0 15px;
            }
        }
    }
}
