page-play {

    $turn-ad-color: darkgreen;
    $turn-cartoon-color: purple;
    $turn-condition-color: darkturquoise;
    $turn-for-or-against-color: crimson;
    $turn-game-color: darkorange;
    $turn-general-color: darkturquoise;
    $turn-instead-color: crimson;
    $turn-list-color: darkorange;
    $turn-long-winded-color: gold;
    $turn-movie-color: purple;
    $turn-song-color: darkgreen;

    .play-content {
        text-align: center;
        color: white;

        &.turn-ad {
            background-color: $turn-ad-color;
        }
        &.turn-cartoon {
            background-color: $turn-cartoon-color;
        }
        &.turn-condition {
            background-color: $turn-condition-color;
        }
        &.turn-for-or-against {
            background-color: $turn-for-or-against-color;
        }
        &.turn-game {
            background-color: $turn-game-color;
        }
        &.turn-general {
            background-color: $turn-general-color;
        }
        &.turn-instead {
            background-color: $turn-instead-color;
        }
        &.turn-list {
            background-color: $turn-list-color;
        }
        &.turn-long-winded {
            background-color: $turn-long-winded-color;
        }
        &.turn-movie {
            background-color: $turn-movie-color;
        }
        &.turn-song {
            background-color: $turn-song-color;
        }

        .turn-row {
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;

            padding: 0 15px;

            &.turn-header {
                height: 0%;
            }
            &.turn-title {
                height: 20%;
                font-family: 'Atma-Bold' !important;
                $title-font-size: 40px;
                font-size: $title-font-size;

                .turn-title-content {
                    animation: slide-right 0.5s ease;
                }
            }
            &.turn-label {
                height: 40%;

                .turn-label-content {
                    animation: slide-right 0.5s ease;

                    .timer-click-message {
                        font-style: italic;
                    }
                }
            }
            &.turn-description {
                height: 20%;
                animation: slide-right 0.5s ease;
            }
            &.turn-timer {
                height: 20%;
            }

            @keyframes slide-right {
                0% {
                    opacity: 0;
                    transform: translateX(200px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
    
    .play-footer {
        &.turn-ad .toolbar-background,  &.turn-ad .toolbar-content {
            background-color: $turn-ad-color;
        }
        &.turn-cartoon .toolbar-background,  &.turn-cartoon .toolbar-content {
            background-color: $turn-cartoon-color;
        }
        &.turn-condition .toolbar-background,  &.turn-condition .toolbar-content {
            background-color: $turn-condition-color;
        }
        &.turn-for-or-against .toolbar-background, &.turn-for-or-against .toolbar-content {
            background-color: $turn-for-or-against-color;
        }
        &.turn-game .toolbar-background, &.turn-game .toolbar-content {
            background-color: $turn-game-color;
        }
        &.turn-general .toolbar-background, &.turn-general .toolbar-content {
            background-color: $turn-general-color;
        }
        &.turn-instead .toolbar-background, &.turn-instead .toolbar-content {
            background-color: $turn-instead-color;
        }
        &.turn-list .toolbar-background, &.turn-list .toolbar-content {
            background-color: $turn-list-color;
        }
        &.turn-long-winded .toolbar-background, &.turn-long-winded .toolbar-content {
            background-color: $turn-long-winded-color;
        }
        &.turn-movie .toolbar-background, &.turn-movie .toolbar-content {
            background-color: $turn-movie-color;
        }
        &.turn-song .toolbar-background, &.turn-song .toolbar-content {
            background-color: $turn-song-color;
        }
    }
}
