<ion-content class="play-content turn-{{getCurrentTurn()?.type}}" (click)="onContentClick()" *ngIf="!turnTransition">
  <div class="turn-row turn-header"></div>
  <h1 class="turn-row turn-title">
    <span *ngIf="getCurrentTurn()?.type === 'end'">
        <text-animation [str]="('turnEntry.' + getCurrentTurn()?.type + '.' + currentTurnLabelIndex + '.title' | translate)"></text-animation>
    </span>
    <span *ngIf="getCurrentTurn()?.type !== 'end'">
        <span *ngIf="showSpecificTitle()" class="turn-title-content">
            {{getCurrentTurn()?.titles[currentTurnLabelIndex]}}
        </span>
        <span *ngIf="showGlobalTitle(getCurrentTurn()?.type) && !showSpecificTitle()" class="turn-title-content">
          {{'turnEntry.' + getCurrentTurn()?.type + '.' + currentTurnLabelIndex + '.title' | translate}}
        </span>
    </span>
  </h1>
  <h2 class="turn-row turn-label">
    <div class="turn-label-content">
        <div class="timer-click-message" *ngIf="timer !== undefined && !timer.started" [translate]="'play.timer.clickMessage'"></div>
        <div *ngIf="timer === undefined || timer.started">{{getCurrentTurn()?.labels[currentTurnLabelIndex]}}</div>
    </div>
  </h2>
  <h5 class="turn-row turn-description">
    <div class="turn-description-content">
        <span *ngIf="showSpecificDescription()">{{getCurrentTurn()?.descriptions[currentTurnLabelIndex]}}</span>
        <span *ngIf="showGlobalDescription(getCurrentTurn()?.type) && !showSpecificDescription()" [translate]="'turnEntry.' + getCurrentTurn()?.type + '.' + currentTurnLabelIndex + '.description'"
          [translateParams]="{
            sipNumberLabel: getSipNumberLabel(), 
            sipSuffix: getSipSuffix(),
            sipPronoun: getSipPronoun(),
            player: getCurrentTurn()?.playerLabel,
            timeInSeconds: timer?.totalTimeInMilliSeconds / 1000
          }"></span>
    </div>
  </h5>
</ion-content>

<ion-footer *ngIf="timer !== undefined && timer.started" class="play-footer turn-{{getCurrentTurn()?.type}}">
  <ion-toolbar>
      <progress-bar [progress]="timer?.progressPercent()"></progress-bar>
  </ion-toolbar>
</ion-footer>