<ion-content class="play-content turn-{{getCurrentTurn()?.type}}" (click)="onContentClick()">
  <div class="label-container">
      <h1 class="turn-title">
        <span *ngIf="showTitle(getCurrentTurn()?.type)">
          {{'turnEntry.' + getCurrentTurn()?.type + '.' + currentTurnLabelIndex + '.title' | translate | uppercase}}
        </span>
      </h1>
      <h2 class="turn-label">
        {{getCurrentTurn()?.labels[currentTurnLabelIndex]}}
      </h2>
      <h5 class="turn-description">
          <span *ngIf="showDescription(getCurrentTurn()?.type)" [translate]="'turnEntry.' + getCurrentTurn()?.type + '.' + currentTurnLabelIndex + '.description'"
            [translateParams]="{sipNumber: getCurrentTurn()?.sipNumber, sipSuffix: getCurrentTurn()?.sipSuffix, player: getCurrentTurn()?.playerLabel}"></span>
      </h5>
  </div>
</ion-content>
  ²