page-play {

    $turn-condition-color: darkturquoise;
    $turn-for-or-against-color: crimson;
    $turn-game-color: darkorange;
    $turn-instead-color: crimson;
    $turn-list-color: darkorange;
    $turn-long-winded-color: gold;
    $turn-movie-color: darkgreen;
    $turn-song-color: darkgreen;

    .play-content {
        text-align: center;
        color: white;

        &.turn-condition {
            background-color: $turn-condition-color;
        }
        &.turn-for-or-against {
            background-color: $turn-for-or-against-color;
        }
        &.turn-game {
            background-color: $turn-game-color;
        }
        &.turn-instead {
            background-color: $turn-instead-color;
        }
        &.turn-list {
            background-color: $turn-list-color;
        }
        &.turn-long-winded {
            background-color: $turn-long-winded-color;
        }
        &.turn-movie {
            background-color: $turn-movie-color;
        }
        &.turn-song {
            background-color: $turn-song-color;
        }

        .turn-row {
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;

            padding: 0 15px;

            &.turn-header {
                height: 0%;
            }
            &.turn-title {
                height: 20%;
            }
            &.turn-label {
                height: 40%;
                .timer-click-message {
                    font-style: italic;
                }
            }
            &.turn-description {
                height: 20%;
            }
            &.turn-timer {
                height: 20%;
            }
        }
    }
    
    .play-footer {
        &.turn-condition .toolbar-background,  &.turn-condition .toolbar-content {
            background-color: $turn-condition-color;
        }
        &.turn-for-or-against .toolbar-background, &.turn-for-or-against .toolbar-content {
            background-color: $turn-for-or-against-color;
        }
        &.turn-game .toolbar-background, &.turn-game .toolbar-content {
            background-color: $turn-game-color;
        }
        &.turn-instead .toolbar-background, &.turn-instead .toolbar-content {
            background-color: $turn-instead-color;
        }
        &.turn-list .toolbar-background, &.turn-list .toolbar-content {
            background-color: $turn-list-color;
        }
        &.turn-long-winded .toolbar-background, &.turn-long-winded .toolbar-content {
            background-color: $turn-long-winded-color;
        }
        &.turn-movie .toolbar-background, &.turn-movie .toolbar-content {
            background-color: $turn-song-color;
        }
        &.turn-song .toolbar-background, &.turn-song .toolbar-content {
            background-color: $turn-song-color;
        }
    }
}
