<ion-content class="warning-content">
    <div class="warning-title-container">
        <div class="warning-title"><span *ngIf="areTranslationsLoaded()">{{'title' | translate}}</span></div>
    </div>

    <div class="warning-content-container">
        <h4 color="light" class="warning-content">
            <span *ngIf="areTranslationsLoaded()">{{'warning.content' | translate}}</span>
        </h4>
    </div>
    
</ion-content>

<ion-footer class="warning-footer">
    <ion-toolbar>
        <ion-row>
            <ion-col col-6>
                <button class="close-button" ion-button large full (click)="onCloseClick()">
                    <span *ngIf="areTranslationsLoaded()">{{'warning.buttons.close' | translate}}</span>
                </button>
            </ion-col>
            <ion-col col-6>
                <button class="continue-button" ion-button large full (click)="onContinueClick()">
                    <span *ngIf="areTranslationsLoaded()">{{'warning.buttons.continue' | translate}}</span>
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>