page-warning {
    .warning-content {
        text-align: center;
        color: map-get($colors, light);
        background-color: $background-home-color;
        
        .scroll-content {

            .warning-title-container {
                color: map-get($colors, light);
                margin-bottom: 20px;
                .warning-title {
                    font-family: 'Atma-Bold' !important;
                    font-size: 55px;
                }
            }

            .warning-content-container {
                display: flex;
                display: -webkit-flex;
                justify-content: center;
                -webkit-justify-content: center;
                align-items: center;
                -webkit-align-items: center;

                height: 70%;

                padding: 0 15px;
            }
        }
    }

    .warning-footer {
        text-align: center;

        .toolbar-background, .toolbar-content {
            background-color: $background-home-color !important;
        }

        .continue-button {
            color: map-get($colors, light);
            background-color: map-get($colors, dark);
            // background-color: $button-home-color;
        }
    }
}
