page-home {

    .home-content {
        text-align: center;
        background-color: $background-home-color;
        
        .home-title-container {
            height: 20%;
            color: map-get($colors, light);
            margin-bottom: 20px;

            .home-title {
                font-family: 'Atma-Bold' !important;
                font-size: 55px;
            }
        }

        .players-list-container {
            height: 60%;
            white-space: nowrap;

            .scroll-content {
                padding: 0 25px 0 25px;
                // padding: 0;
                margin: 0;

                .players-list {
                    ion-item {
                        color: map-get($colors, light);
                        background-color: $background-home-color;
                        
                        &.item-input.item-input-has-focus .item-inner,
                        &.item-input.input-has-focus .item-inner {
                            border-bottom-color: $button-home-color !important;
                            box-shadow: inset 0 -1px 0 0 $button-home-color !important;
                        }
        
                        animation: slide-up 0.4s ease;
                    }
                }
            }
        }

        .play-button-container {
            // margin-top: 20px;

            .play-button {
                color: map-get($colors, light);
                background-color: $button-home-color;
                font-family: 'Atma-Bold' !important;
            }
        }
    }

    .home-footer {
        text-align: center;

        .toolbar-background, .toolbar-content {
            background-color: $background-home-color !important;
        }
    }
}
