<ion-header>
  <ion-navbar>
    <ion-title>
      {{'title' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-content">
  <ion-list>
    <ion-item *ngFor="let player of players; let i = index" [attr.data-index]="i">
      <ion-input type="text" [(ngModel)]="player.name" placeholder="Joueur {{i + 1}}" clearInput></ion-input>
    </ion-item>
  </ion-list>

  <button *ngIf="canAddPlayer()" color="dark" clear ion-button icon-only (click)="addPlayer()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-content>

<ion-footer style="text-align: center">
    <ion-toolbar>
        <button color="dark" ion-button item-end icon-start (click)="onPlayClick()">
          <ion-icon name="wine"></ion-icon>
          {{'home.buttons.play' | translate}}
        </button>
    </ion-toolbar>
  </ion-footer>