$background-color: darkcyan;

page-home {
    .home-content {
        text-align: center;
        background-color: $background-color;

        .home-title-container {
            color: map-get($colors, light);
            margin-bottom: 20px;
            .home-title {
                font-family: 'Atma-Bold' !important;
                font-size: 55px;
            }
        }

        .players-list {
            ion-item {
                color: map-get($colors, light);
                background-color: $background-color;
                
                &.item-input.item-input-has-focus .item-inner,
                &.item-input.input-has-focus .item-inner {
                    border-bottom-color: darkslategray !important;
                    box-shadow: inset 0 -1px 0 0 darkslategray !important;
                }

                animation: slide-up 0.4s ease;
            }
        }
    }

    .home-footer {
        text-align: center;

        .toolbar-background, .toolbar-content {
            background-color: $background-color !important;
        }

        .play-button {
            color: map-get($colors, light);
            background-color: darkslategray;
            font-family: 'Atma-Bold' !important;
        }
    }
}
